body {
    background-color: #1c1c1e;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.split-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.player {
    background-color: #29292b;
    padding: 20px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    background-color: #4a4a4e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #5a5a5e;
}

.buttons img {
    max-width: 50px;
}

.image-containers {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}

#imageContainer img,
#imageContainer2 img {
    max-width: 100px;
}

.player-buttons button {
    margin-top: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.player-buttons button:hover {
    background-color: #0056b3;
}
